.gradle
.DS_Store
HelloWorld/app/build/intermediates/
HelloWorld/app/build/generated/
HelloWorld/app/build/tmp/
HelloWorld/app/build/outputs/logs/
HelloWorld/local.properties
HelloWorld/.idea/caches
HelloWorld/.idea/libraries
HelloWorld/.idea/modules.xml
HelloWorld/.idea/workspace.xml
HelloWorld/.idea/navEditor.xml
HelloWorld/.idea/assetWizardSettings.xml
HelloWorld/captures
.externalNativeBuild
.cxx